$navbar-default-bg: #2c3e50; 
$navbar-default-link-color: #F2F1EF;

@import 'bootstrap';
@import 'font-awesome';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

/* star light */ 

hr.star-light,
hr.star-primary, hr.star-game, hr.star-lobby {
  padding: 0;
  border: none;
  border-top: solid 7px;
  text-align: center;
  max-width: 260px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after, hr.star-game:after, hr.star-lobby:after {
  content: "\f005";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2.2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: #2c3e50;
}
hr.star-light:after {
  background-color: #eee;
  color: #2c3e50;
}
hr.star-primary {
  border-color: #B71C1C;
}
hr.star-primary:after {
  background-color: #ECF0F1;
  color: #B71C1C;
}

hr.star-game {
  border-color: #C62828;
}
hr.star-game:after {
  background-color: #ECF0F1;
  color: #C62828;
}

hr.star-lobby {
  border-color: #C62828;
}
hr.star-lobby:after {
  background-color: #C5EFF7;
  color: #C62828;
}

/* section */

section.success {
  background: #18bc9c;
  color: white;
}
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  color: #2c3e50;
  outline: none;
}